body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .Cart-Container{
       width: 55%;
       height: 48%;
       top: 50%;
       left: 50%;
       margin-left: -150px;
       margin-top: -100px;
       background-color: #ffffff;
       border-radius: 20px;
       box-shadow: 0px 25px 40px #1687d933;
   }
   
   .start_btn{
       position: absolute;
       top: 35%;
       left: 60%;
       transform: translate(-50%, -50%);
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                   0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   .homepage_btn{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
   .start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: white;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background:blueviolet;
    cursor: pointer;
}
.homepage_btn button{
    font-size: 25px;
    font-weight: 500;
    color: white;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: grey;
    cursor: pointer;
}

.modal {
    margin: auto;
    width:35%;

    padding: 10px;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
  }